@import './../node_modules/bootstrap/dist/css/bootstrap.css';
@import './../node_modules/bootstrap-icons/font/bootstrap-icons.css';


.element-clickable          { cursor: pointer; }
.element-clickable:hover    { text-decoration: underline; }

.nav-link:hover             { text-decoration: underline; }
